@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana,Tahoma, sans-serif;
    --font2: "Passion One", serif;
    --font3: sriracha, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    font-family: var(--font2);
    text-align: center;  
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 5vh;
    font-variant: small-caps;
}

header > p{
    font-family: var(--font1);
    font-size: 2vh;
    font-variant: normal;
}

a{
    font-family: var(--font1);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

article p{
    font-family: var(--font3);
    margin: 100px 40px;
    font-size: 3vh;
}

div.flor{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    box-shadow:  3px 3px 10px 0px rgba(0, 0, 0, 0.281);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

div.flor p , div.papel p{
    background-color: rgba(0, 0, 0, 0.363);
    text-shadow: 1px 1px 2px black;
    display: inline-block;
    padding: 10px;   
}

div.papel{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    box-shadow:  3px 3px 10px 0px rgba(0, 0, 0, 0.281);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

footer{
    background-color: black;
    color: white;
    font-family: var(--font1);
    text-align: center;  
    padding: 10px;
    font-size: 2vh;
}